= provide(:title, "About")
%p I created this website in an attempt to test my Rails and Angular abilities.
With that being said, the website is in a state of WIP. Features will continued
to be added when I have time to write them.
Style and Layout are also subject to change depending on ease of use.
